* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
   'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
}
body{
  background-color: rgb(169, 181, 252);
  
}
.header{
  margin: 20px;
  font-size: 40px;
  color: white;
  animation: blinker 4s linear infinite;
}
@keyframes blinker {
  60% {
    opacity: 0;
  }
}
.home-div{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: center;
  min-width: 350px;
  min-height: 350px;
  margin-top: 50px; 
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%  
  );
  color: white;
}
.nav-link{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;    
}
.link{
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
}
.logo{
  border-radius: 55%;
  
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #5f73ce;
  text-align: center;
  margin: 30px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
.todo-button{
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;  
  color: white;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%  
  );
  text-transform: capitalize;
}
.todo-input{
  padding: 14px 32px 14px 16px;
  margin-top: 50px;
  border-radius: 4px 0 0 4px;
  outline: none;
  border: 2px solid rgba(93, 12, 255, 1);
  width: 360px;
}
.todo-plan{
  margin: 30px;
  color: white;
}
.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}
.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}


